
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: rgb(0, 0, 33);
    color: white;

}


.left {
    font-size: 2.0rem;

}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 0 50px;

}

.leftSection {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}



.rightSection img {
    width: 80%;

}

.purple {
    color: rgb(111, 111, 238)
}

#element {
    width: 650px;
    height: 70px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    color: rgb(111, 111, 238);

    display: flex;
    /* Prevents block-level overflow */
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Hides overflowing content */
    max-width: 100%;
    /* Ensures it doesn't exceed parent width */
}

.typed-cursor {
    display: none;
    overflow: hidden;
}

hr{
    /*  giving horizontal lining*/
    border: 0px;
    background: #9c97f1;
    border: 1.5px solid rgb(66, 30, 208);
    width: 90%;
    margin: 40px auto;
}


.thirdSection,
.forthSection {
    max-width: 100vw;
    height: auto;
    margin-bottom: 100px;
}
.secondSection{
     max-width: 100vw;
    height: auto;
    margin-bottom: 0px;
}

  

.secondSection h1 {
    font-size: 1.8rem;


}

.text-grey {
    width: 368px;
    height: 20;
    outline: 1px solid rgb(200, 16, 16);
    border-left: 20px solid green;

    color: gray;
}


.Resume {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 192, 192);
    border-radius: 10px;
}


.Resume a {
    padding: 10px;
    text-decoration: none;
    color: white;

}
.Resume a:hover {
   color:black;
   transition: 0.3s;
}




a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}



















/*-----Responsive Designing-----*/
@media(max-width: 768px) {

    .right {
        display: none;
        flex-direction: column;
        align-items: center;

        position: absolute;
        top: 0px;
        left: 0;
        text-align: center;
        padding: 50px 0 0 0;
    }



    .right ul {
        display: flex;
        flex-direction: column;
    }

    .right {
        background-color: rgb(11, 11, 61);

    }


    .right ul li {
        list-style: none;
        padding: 0 0 20px 0;
    }

    .firstSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0px 0;
    }

    .leftSection {
         padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }



    .rightSection {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .rightSection img {
        width: 60%;
        margin: 30px 0px;
    }

    #element {
        width: 450px;
        height: 35px;
        align-items: center;
        justify-content: center;
        color: rgb(111, 111, 238);

        display: flex;
        /* Prevents block-level overflow */
        white-space: nowrap;
        /* Prevents text wrapping */
        overflow: hidden;
        /* Hides overflowing content */
        max-width: 100%;
        /* Ensures it doesn't exceed parent width */
    }



}


@media(max-width: 425px) {
    .right {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
        position: absolute;
        top: 0px;
        left: 0;
        text-align: center;
        padding: 50px 0 0 0;
    }





    .right ul {
        display: flex;
        flex-direction: column;
    }

    .right {
        background-color: rgb(11, 11, 61);

    }

    .right ul li {
        list-style: none;
        padding: 0 0 20px 0;
    }

    .left {
        font-size: 1.5rem;

    }

    .firstSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0px 0;

    }

    .leftSection {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
    }



    .rightSection {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rightSection img {
        width: 60%;
        margin: 60px 0px;
    }



}






/* ------------------------education CSS with responsives property------------------*/
h2,
#education {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: ;
}

/* Timeline Container */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    z-index: -1;
}

/* Timeline Item */
.timeline-item {

    padding: 20px;
    position: relative;
    width: 50%;
    opacity: 1;
    /* Ensure visibility */
    transition: transform 0.3s ease-in-out;
}

.timeline-fill {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 0%;
    background-color: white;
    z-index: -1; /* Behind the dots and items */
    border-radius: 20px;
}

.left {
    left: 0;
    text-align: left;
    font-size: 30px;
}

.right2 {
    left: 50%;
    text-align: left;
}

/* Dots for Points */
.timeline-item::after {
    content: '\f19d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 3px solid #fff;
    top: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    color: white;
}

.right2::after {
    left: -20px;
}

.left::after {
    right: -22px;
}

/* Glassmorphic Content Box */
.content-timeline {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: 100%;
}

.timeline-item p {
    padding: 5px;
}

.content-timeline {
    transform: scale(1.0);
    font-size: 20px;
}

/* Responsive Design */
/* Responsive Design */
@media screen and (max-width: 768px) {
    .timeline::after {
        left: 32px;
    }

.timeline-fill {
    position: absolute;
    top: 0;
  left: 32px;
    
  
}
    .timeline-item {
        width: 100%;
        padding-left: 50px;
        text-align: left;
        z-index: -1;
    }

    .timeline-item::after {
        left: 10px;
    }

    .right2 {
        display: block;
        left: 0%;


    }

    .content-timeline {
        transform: translateX(5px);

    }
}

/*---------------------------------------------------*/


ul.inline-list {
    list-style-type: disc;
    display: inline;
    padding: 0;
    margin: 0;
}


ul.inline-list li {
    display: inline;
    margin-right: 10px;
}




/*-----------about section ------------*/

.about {
    width: 100%;
    margin: 0px;
    text-align: justify;
    padding:20px;
    font-family: 'Times New Roman', Times, serif;
}
@media(max-width:426px){
    .about {   
    text-align: justify;
    padding: 20px 30px;
   
}
}



.about-containt h3 {
    align-items: left;
    justify-content: left;
    margin-bottom: 10px;
}

 /*===============skills section===============*/
    section {
        padding: 0px 0%;

    }

    *::selection {
        color: var(--bg-color);
        background: var(--main-color);
    }

    .heading {
        text-align: center;
    }

    :root {
        --main-color: #033a80;
        --bg-color: #fff;
        --text-color: #0f0c27;
        --hover: hsl(260, 100%, 51%);
        --bg-home-color: #e2d8d8;
        --big-font: 3.2rem;
        --medium-font: 1.8rem;
        --p-font: 0.941rem;

    }
  
    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
        margin: 4rem;
        padding: 0 2rem;
    }



    .skills-image img {
        width: 100%;
        padding-left: 4rem;
        object-position: center;
        transition: transform 0.5s ease-in-out;
        mix-blend-mode:;
    }

    .skills-image img:hover {
        transform: scale(1.05);
    }

    .box-bars {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        margin-bottom: 1.5rem;
        transition: transform 0.3s ease-in-out;
    }

    .box-bars:hover {
        transform: translateY(-5px);
    }

    .box-bars h3,
    .box-bars span {
        font-size: 1.1rem;
        font-weight: 500;
        transition: color 0.3s ease;
    }

    .box-bars h3:hover,
    .box-bars span:hover {
        color: var(--main-color);
    }

    .light-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.5rem;
        background: hsla(260, 100%, 44%, 0.2);
        border-radius: 0.4rem;
    }

    .percent-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.5rem;
        background: var(--main-color);
        border-radius: 0.5rem;
        width: 0;
        /* Initially set to 0 to hide */
    }

   [data-animate="true"].html-bar {
        animation: loadHtml 1.5s forwards;
    }

    [data-animate="true"].css-bar {
        animation: loadCss 1.5s forwards;
    }

    [data-animate="true"].js-bar {
        animation: loadJs 1.5s forwards;
    }

    [data-animate="true"].CLanguage-bar {
        animation: loadJava 1.5s forwards;
    }

    [data-animate="true"].python-bar {
        animation: loadPython 1.5s forwards;
    }

    [data-animate="true"].php-bar {
        animation: loadphp 1.5s forwards;
    }
    [data-animate="true"].react-bar {
        animation: loadReact 1.5s forwards;
    }
    [data-animate="true"].tailwind-bar {
        animation: loadTailwind 1.5s forwards;
    }

    /* Keyframes for animations */
    @keyframes loadHtml {
        to {
            width: 90%;
        }
    }

    @keyframes loadCss {
        to {
            width: 50%;
        }
    }

    @keyframes loadJs {
        to {
            width: 65%;
        }
    }

    @keyframes loadJava {
        to {
            width: 60%;
        }
    }

    @keyframes loadPython {
        to {
            width: 70%;
        }
    }

    @keyframes loadphp {
        to {
            width: 60%;
        }
    }

    @keyframes loadReact{
        to{
            width:30%;
        }
    }
    @keyframes loadTailwind{
        to{
            width:80%;
        }
    }

    @media(max-width:768px) {
        .skills-container {
            grid-template-columns: 1fr;
             margin-bottom: 50px;
        }

        .skills-image img {
            padding-left: 0;
            width: 110%;
            padding: 0 2rem;
            

        }

        .skills-img {
            padding-top: 2rem;
            display: flex;
            justify-content: center;
        }
         .skills-container {
        
        gap: 1.5rem;
        margin: 0rem;
        padding: 0 2rem;
    }


    }

    @media(max-width:425px) {
        .skills-image img {
            padding-left: 0;
            width: 110%;
            display:none;
           

        }

    }
/* .my-skills {
    width: 90%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
}

.my-skills div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-skills p {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.my-skills li {
    width: 120px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(113, 65, 65);
    gap: 10px;

}



.my-skills p {
    margin-bottom: 20px;
}


.skills-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;


}

.skill-card {
    background-color: rgb(79, 77, 77);
    border: 2px solid rgb(68, 66, 53);
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    color: white
}

.skills-section :hover {

    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(255, 165, 0, 0.6);
}

.skill-card img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;

}





.progressive-bar {
    background: #333;
    border-radius: 10px;
    height: 15px;
    margin-top: 10px;
    overflow: hidden;

}

.progress {
    height: 100%;
    background: orange;


}





/* Responsive Design */
/* @media (max-width: 992px) {
    .skills-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .skills-section {
        grid-template-columns: repeat(1, 1fr);
    }
} */

 
/*--------------------------------------------*/
.forthSection h1,
.secondSection h1,
.fifthSection h1 {
    text-align: center;
}



/*------------project css----------*/

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
        margin-top: 100px;
}

.project-box {
    width: 400px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    border-bottom:3px solid white;
   
}

.project-box:hover {
    transform: scale(1.2);
    background-color: hsl(265, 33%, 20%);
    transition: .2s ease-in-out;
}



.project-box .project-No,
.project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.project-box .project-No{
border-bottom: 2px solid rgba(255, 255, 255, 0.3);
padding-bottom: 1px;
margin-bottom: 20px;
}

.project-box .project-No h1 {
    
    text-align: center;
    font-size: 25px;

}

.project-box .project-title {
    background-color: #7b8692;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    background: linear-gradient(rgb(59, 59, 135), rgb(48, 87, 48));
}

.project-box .project-lang {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    /* background-color: #9c97f1; */
    padding: 10px;
 

}


.project-container .project-box div li {
    padding: 5px;
    margin: 10px 10px;
    border: 1px solid white;
    border-radius: 5px;
    max-width: fit-content;
    max-height: fit-content;
    list-style: none;
    cursor: pointer;
    background-color: hsl(268, 19%, 17%);
}

.project-container .project-box div li:hover {
    background-color: hsl(267, 96%, 85%);
    transition: 0.2s ease;
}


.project-container .project-box .project-link {
    display: flex;
    align-items: center;

    justify-content: center;
    text-decoration: wavy;
    /* background-color: #ff0400; */
}

.project-container .project-box .project-link h3 {
    padding: 8px;
    border: 2px solid white;
    border-radius: 8px;
    /* color: red; */
    background-color: hsl(214, 80%, 15%);
    padding: 5px 10px 5px 10px;
}
.project-container .project-box .project-link h3:hover {
      background-color: hsl(214, 80%, 20%);
       transition: 0.2s ease;
}



/*--skills -*/

/*-----------footer css--------*/


/* Footer Styling */
.footer {
    background-color: #080927;
    color: white;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 70px;
    z-index: ;
}

/* Social Icons */
.social-icons {
    margin: 10px 0;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    font-size: 24px;
    transition: 0.3s;
    cursor: pointer;
}

/* Hover Effects */
.social-icons a:hover {
    color: #007bff;
    transform: scale(1.2);
}




/*---------------------------------------------*/


#scrollBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    /* Initially hidden */
    transition: 0.3s;
    z-index: ;
}

#scrollBtn:hover {
    background: #0056b3;
}

/* to lock the sidebar body scroll  */
.bodylock{
    overflow: hidden;
    height: 100%;
}

.contact{
    font-size:15px;
}
.contact {
    margin-top: 30px;
}











/* Contact- form styling */

#Contact-us{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    /* background: #1a8be1; */

}


.form {
    background: #8a8484;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    color: rgb(59, 56, 56);
    letter-spacing: 0.5px;
    padding-left: 20px;
}

.inputGroup {
    position: relative;
    margin: 15px 0;
}

.inputGroup input {
    width: 250px;
    padding: 12px;
    font-size: 16px;
    color: #494747;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 6px;
     background: #8a8484;
}

.inputGroup label {
    position: absolute;
    top: 12px;
    left: 0px;
    margin-left: 10px;
    font-size: 16px;
    color: #9da3ab;
    pointer-events: none;
    transition: 0.3s ease;
    background: #8a8484;
    padding: 0 4px;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label {
    top: -8px;
    font-size: 16px;
    color: #fff;
}

.inputGroup input:focus {
    border-color: #fff;
    box-sizing: 0 0 3px #007bff;

}

.submit-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
button{
    padding:10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(79, 76, 76);
    font-size: 16px;
    background-color: rgb(189, 182, 182);
    
}










